.profile_toggle {
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
     background-color: rgba(235, 235, 235);
     position: absolute !important;
     right: 0;
     top: 7%;
     min-height: 10rem !important;
     width: 12rem;
     border-radius: 0 0 0 .8rem !important;
     padding: 1.6rem .16rem .8rem 0;

    .toggle-logout-btn {
        display: flex;
        justify-content: center;
         & > button {
            width: 95%;
         }
    }
   }